.About
  .portrait
    float: right
    width: 230px
    margin-left: 18px
    padding-top: 12px
    @media (max-width: $mobile)
      float: none
      width: 60%
      margin: 0 auto
      padding: 0
    img
      border-radius: 4%
      opacity: 0.94
      width: inherit
