$mobile: 768px
$desktop: 769px

$body-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$header-family: 'Oswald', $body-family

$line-height: 1.5em

$brand-primary: #a6bdda
$brand-white: #fbfbfb
$header-color: #181818
$main-color: #171717
$headline-color: #262626
$code-background: #393939
$code-inline-color: cornsilk
$link-color: darken($brand-primary, 30%)
$link-hover-background: lighten($brand-primary, 20%)

@mixin linear-gradient($direction, $color-stops...)
  background: nth(nth($color-stops, 1), 1)
  background: linear-gradient($direction, $color-stops)
