$mobile: 768px

$body-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$header-family: 'Oswald', $body-family

$brand-primary: #a6bdda
$brand-white: #fefefe
$header-color: #181818

@mixin linear-gradient($direction, $color-stops...)
  background: nth(nth($color-stops, 1), 1)
  background: linear-gradient($direction, $color-stops)
