.Competencies
  .competencies-table
    display: flex
    flex-direction: row
    @media (max-width: $mobile)
      flex-direction: column
    .competency-name
      width: 300px
      @media (max-width: $mobile)
        width: auto
    .competency-value
      &:not(:last-child)
        margin-right: 12px
        padding-right: 12px
        border-right: 0.5px solid #999
