.Footer
  background-image: linear-gradient($brand-white, $brand-primary)
  font-family: $header-family
  ul
    margin: 0 12px
    padding-top: 12px
    list-style-type: none
    display: flex
    justify-content: space-between
    li
      display: inline
      .footer-item-text
        opacity: 0.5
        &:hover
          opacity: 1
      i
        padding-right: 6px
        font-size: 120%

  a
    color: $header-color
    text-decoration: none
