<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <link rel="stylesheet" href="{{ get_url(path="reset.css", trailing_slash=false) }}">
    <link rel="stylesheet" href="{{ get_url(path="local.css", trailing_slash=false) }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,400i|Source+Sans+Pro:400,400i,600,600i|Fira+Mono">

    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>

    {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    {% endif %}
  </head>

  <body>
    <header>
      <div class="site-title">
        <a href="{{ get_url(path="/") }}"><h1>Emily Aviva Kapor-Mater</h1></a>
      </div>
      <nav>
        <ul>
          <li>
            <div class="site-nav-link">
              <a href="{{ get_url(path="/blog") }}"><h2>Blog</h2></a>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    {% block content %}
    <main>
      <article>
        <img class="portrait" src="EmilyKaporMaterPhoto.jpg" alt="Photo of Emily Aviva Kapor-Mater" />
        <p>Full-stack software developer</p>
        <p>Rabbi, teacher of Judaism, and </p>
      </article>
      <div class="headmatter">
        <h2>Contact</h2>
      </div>
      <ul class="contact-list">
        <li>
          <i class="fab fa-github"></i><a href="https://github.com/emilyaviva">GitHub</a>
        </li>
        <li>
          <i class="fas fa-key"></i><a href="https://keybase.io/emilyaviva">Keybase</a>
        </li>
        <li>
          <i class="fab fa-twitter"></i><a href="https://twitter.com/emilyaviva">Twitter</a>
        </li>
        <li>
          <i class="fab fa-linkedin"></i><a href="https://linkedin.com/in/emilykapor">LinkedIn</a>
        </li>
      </ul>
      <ul class="contact-list">
        <li>
          <i class="fas fa-envelope"></i><a href="mailto:emily@emilyaviva.com">emily@emilyaviva.com</a>
        </li>
        <li>
          <i class="fas fa-lock"></i><a href="https://keybase.io/encrypt#emilyaviva">Encrypted messaging via PGP</a>
        </li>
      </ul>
      <ul class="contact-list">
        <li>
          <i class="fas fa-phone"></i><a href="tel:16174449089">+1.617.444.9089</a>
        </li>
      </ul>
    </main>
    {% endblock content %}

  </body>
</html>
