{% extends "index.html" %}

{% block content %}
<main>
  <div class="headmatter">
    <h2>Judaism</h2>
  </div>
  <article>
    <p><a href="{{ get_url(path="/files/haggadah-shir-geulah-2016-v2.1.pdf", trailing_slash=false) }}"><em>Haggadah Shir Ge'ulah</em>, a new liberatory Haggadah for Pesach</a></p>
    <p><a href="{{ get_url(path="/files/mikveh-transition-ceremony.pdf", trailing_slash=false) }}">A ritual for immersing in a <em>mikveh</em> for transitioning gender</a></p>
    <p><a href="{{ get_url(path="/judaism/al-cheyt-interpretive", trailing_slash=true) }}">Interpretive Al Cheyt (Confessional) for Yom Kippur</a></p>
    <p>More exciting content coming soon…</p>
  </article>
</main>
{% endblock content %}
